
<suite name="mytestsuite">
<parameter name="browser" value="Chrome"></parameter>
<test name="testng">
<listeners>
<listener class-name="listeners.Listeners">
</listener>
<listener class-name="listeners.RetryListeners"></listener>
</listeners>
<classes>


<class name="testscripts.Categorytest"></class>

</classes>

</test>
</suite>
